<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Site Description Here">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <title>Home</title>

    <link href="assets/css/uikit.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="assets/css/uikit-width-ex.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="assets/css/ionicons.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="assets/css/fontawesome-all.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="assets/css/owl.carousel.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="assets/css/animations.css" rel="stylesheet" type="text/css" media="all" />
    <link href="assets/css/theme.css" rel="stylesheet" type="text/css" media="all" />
    <link href="assets/css/responsive.css" rel="stylesheet" type="text/css" media="all" />
    <link href="assets/css/my-custom.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700%7CLora:400,400i%7CShadows+Into+Light:400" rel="stylesheet" />

</head>

<body class="loading">
    <div class="tw-preloader">
        <div data-uk-spinner></div>
    </div>
    <!-- .main-container close -->
    <div class="main-container">
        <div ng-app="adminFormExample">
            <div ng-controller="adminFormCtrl">
                <form name="adminForm" class="uk-text-center" style="padding-top:33vh;">
                    <h4 class="uk-text-uppercase">IFGI Admin Login</h4>
                    <div class="uk-margin">
                        <div class="uk-inline">
                            <span class="uk-form-icon" data-uk-icon="icon: user"></span>
                            <input class="uk-form-width-medium uk-input" style="text-transform: none !important;" ng-model="username" id="username" name="username" type="text" value="" size="30" aria-required="true" required="" placeholder="Username" autofocus>
                        </div>
                    </div>
        
                    <div class="uk-margin">
                        <div class="uk-inline">
                            <span class="uk-form-icon" data-uk-icon="icon: lock"></span>
                            <input ng-model="password" id="password" name="password" class="uk-form-width-medium uk-input" style="text-transform: none !important;" type="password" required="" placeholder="Password">
                        </div>
                    </div>
                    <input ng-click="formsubmit(adminForm.$valid)" class="uk-button uk-button-small uk-button-default uk-margin-bottom uk-input" id="msg-submit" name="msg-submit" type="submit" value="Login">
                </form>
            </div>
        </div>
    </div>
    <!-- .main-container close -->
    <script src="assets/js/jquery-3.2.0.min.js"></script>
    <script src="assets/js/jquery.easypiechart.min.js"></script>
    <script src="assets/js/uikit.min.js"></script>
    <script src="assets/js/uikit-icons.min.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/theme.js"></script>
    
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="assets/js/angular.js" ></script>
    <script src="assets/js/formjs.js"></script>
</body>

</html>