<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Site Description Here">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <title>Contact Us</title>

    <link href="assets/css/uikit.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="assets/css/uikit-width-ex.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="assets/css/ionicons.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="assets/css/fontawesome-all.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="assets/css/owl.carousel.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="assets/css/animations.css" rel="stylesheet" type="text/css" media="all" />
    <link href="assets/css/theme.css" rel="stylesheet" type="text/css" media="all" />
    <link href="assets/css/responsive.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700%7CLora:400,400i%7CShadows+Into+Light:400" rel="stylesheet" />

</head>

<body class="loading">
    <div class="tw-preloader">
        <div data-uk-spinner></div>
    </div>
    <div class="header-container tw-header">
        <nav class="uk-navbar-container uk-flex-center" data-uk-navbar>

            <div class="uk-navbar-left">
                <div class="tw-logo">
                    <h3 class="site-name">
                        <a href="ifgi.html">
                            <img src="assets/img/logo-blueocean.png" alt="IFGI">
                        </a>
                    </h3>
                </div>
            </div>
            <div class="uk-navbar-center">

                <ul class="tw-main-menu uk-visible@m">
                    <li class="menu-item">
                        <a href="index.html">Home</a>
                    </li>
                    <li class="menu-item">
                        <a href="#">Contact</a>
                    </li>

                </ul>
            </div>
            <div class="uk-navbar-right">
                <div class="tw-header-meta">
                    <a class="mobile-menu uk-navbar-toggle uk-hidden@m" href="#" data-uk-toggle="target: #mobile-menu-modal"><i class="ion-navicon-round"></i></a>
                </div>
            </div>
            <div id="mobile-menu-modal" class="uk-modal-full" data-uk-modal>
                <div class="uk-modal-dialog">
                    <button class="uk-modal-close-full" type="button" data-uk-close></button>
                    <div class="uk-light uk-height-viewport tw-mobile-modal uk-flex uk-flex-middle uk-flex-center" data-uk-scrollspy="target:>ul>li,>div>a; cls:uk-animation-slide-bottom-medium; delay: 150;">
                        <ul class="uk-nav-default uk-nav-parent-icon" data-uk-nav>
                            <li>
                                <a href="index.html">Home</a>
                            </li>
                            <li>
                                <a href="#">Contact</a>
                            </li>
                        </ul>

                        <div class="tw-socials tw-socials-minimal">
                            <a href="#"><i class="ion-social-facebook"></i></a>
                            <a href="#"><i class="ion-social-twitter"></i></a>
                            <a href="#"><i class="ion-social-pinterest"></i></a>
                        </div>

                    </div>

                </div>
            </div>
        </nav>

    </div>
    <!-- .main-container close -->
    <div class="main-container">
        <section class="uk-section">
            <div class="uk-container uk-container-xsmall">
                <div class="tw-heading tw-element uk-text-center">
                    <h3>Contact Form</h3>
                    <p>Got some questions? Contact us and we'll try our best to reply as quick as possible. Thank you.</p>
                </div>
                <div ng-app="formExample">
                    <div ng-controller="formCtrl" class="tw-contact-form uk-text-center tw-element" data-uk-scrollspy="target: > form > div; cls:uk-animation-slide-left-small; delay: 350;">       

                        <form name="userForm" class="uk-grid-small uk-grid" data-uk-grid="">
                            <div class="uk-width-1-1 uk-first-column uk-scrollspy-inview uk-animation-slide-left-small" style="">
                                <input style="text-transform: none !important;" ng-model="name" id="name" name="name" placeholder="Name *" type="text" value="" size="30" aria-required="true" required="">
                            </div>
                            <div class="uk-width-1-2 uk-width-1-1@xxs uk-grid-margin uk-first-column uk-scrollspy-inview uk-animation-slide-left-small" style="">
                                <input style="text-transform: none !important;" ng-model="email" id="email" name="email" placeholder="Email *" type="text" value="" size="30" aria-required="true" required="">
                            </div>
                            <div class="uk-width-1-2 uk-width-1-1@xxs uk-grid-margin uk-scrollspy-inview uk-animation-slide-left-small" style="">
                                <input style="text-transform: none !important;" ng-model="number" id="number" name="number" placeholder="Phone *" type="tel" value="" size="20" aria-required="true" required="">
                            </div>
                            <div class="uk-width-1-1 uk-grid-margin uk-first-column uk-scrollspy-inview uk-animation-slide-left-small" style="">
                                <textarea style="text-transform: none !important;" ng-model="message" name="message" placeholder="Your message" id="message" class="required" rows="7" tabindex="4" required=""></textarea>
                            </div>
                            <div class="uk-width-1-1 uk-grid-margin uk-first-column uk-scrollspy-inview uk-animation-slide-left-small" style="">
                                <input style="text-transform: none !important;" ng-click="formsubmit(userForm.$valid)" type="submit" id="msg-submit" name="msg-submit" class="submitBtn" value="Submit Message">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <footer class="uk-section uk-section-secondary uk-padding-remove-vertical uk-light">
                
            <div class="bottom-area">
                <div class="uk-container">
                    <div class="uk-child-width-expand@m uk-child-width-1-1@s uk-grid" data-uk-grid="" data-uk-scrollspy="target: > div; cls:uk-animation-fade; delay: 200;">
                        <div style="" class="uk-scrollspy-inview uk-animation-fade">
                            <div class="tw-element tw-box layout-2 custom-typography">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d782.9867421008182!2d124.59243392933026!3d8.498667427226458!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x32fff49e96ba050b%3A0xa86d7223dcf6e286!2sRegency%20Plains%20Subdivision!5e0!3m2!1sen!2sph!4v1582351445328!5m2!1sen!2sph" width="200vw" height="auto" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                            </div>
                        </div>
                        <div style="" class="uk-scrollspy-inview uk-animation-fade">
                            <div class="tw-element tw-box layout-2 custom-typography">
                                <i class="et-map-pin uk-border-circle layout-2"></i>
                                <h4>Location</h4>
                                <p class="description">
                                    Blk-6 Lot-11, Aquino St., Regency Plains Subdivision, Iponan, Cagayan de Oro City, 9000 Misamis Oriental
                                </p>
                            </div>
                        </div>
        
                        <div style="" class="uk-scrollspy-inview uk-animation-fade">
                            <div class="tw-element tw-box layout-2 custom-typography">
                                <i class="et-phone uk-border-circle layout-2"></i>
                                <h4>Call Us</h4>
                                <p class="description">
                                    09153924917 / 09975791421
                                </p>
                            </div>
                        </div>
        
                        <div style="" class="uk-scrollspy-inview uk-animation-fade">
                            <div class="tw-element tw-box layout-2 custom-typography">
                                <i class="et-envelope uk-border-circle layout-2"></i>
                                <h4>Email Us</h4>
                                <p class="description">
                                    orlandosarceda69@gmail.com
                                </p>
                            </div>
                        </div>
        
                    </div>
                </div>
            </div>
                
            <div class="uk-container"><hr></div>
                
            <div class="footer-area">
                <div class="uk-container">
                    <div class="uk-flex-middle uk-child-width-1-1 uk-child-width-expand@m uk-grid" data-uk-grid="">
                        <div class="copyright uk-first-column">
                            © Copyright 2020 - All Rights Reserved
                        </div>
                        <div class="uk-text-center">
                            <div class="tw-socials">
                                <a href="#"><i class="ion-social-facebook"></i></a>
                                <a href="#"><i class="ion-social-instagram"></i></a>
                                <a href="#"><i class="ion-social-pinterest"></i></a>
                                <a href="#"><i class="ion-social-twitter"></i></a>
                                <a href="#"><i class="ion-social-youtube"></i></a>
                                <a href="#"><i class="ion-social-rss"></i></a>
                            </div>
                        </div>
                        <div class="uk-text-right">
                            <a href="" data-uk-scroll="">Back To Top &nbsp;&nbsp;<i class="ion-ios-arrow-up"></i></a>
                        </div>
                    </div>
                </div>
            </div>
                
        </footer>
    </div>
    <!-- .main-container close -->
    <script src="assets/js/jquery-3.2.0.min.js"></script>
    <script src="assets/js/jquery.easypiechart.min.js"></script>
    <script src="assets/js/uikit.min.js"></script>
    <script src="assets/js/uikit-icons.min.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/theme.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="assets/js/angular.js" ></script>
    <script src="assets/js/formjs.js"></script>
    
</body>

</html>